{% extends 'base.html' %}

{% block title %}Detalhes do Evento{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h1>Detalhes do evento: {{ event.name }}</h1>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nome do evento</th>
                            <th scope="col">Início</th>
                            <th scope="col">Final</th>
                            <th scope="col">Local</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ event.name }}</td>
                            <td>{{ event.start_date|date:"d/m/y" }} {{ event.start_time|time:"H:i" }}</td>
                            <td>{{ event.end_date|date:"d/m/y" }} {{ event.end_time|time:"H:i" }}</td>
                            <td>{{ event.location }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Descrição</h5>
                            <p class="card-text">{{ event.description }}</p>
                        </div>
                    </div>
                    <h2 class="mt-4">Inscritos</h2>
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nome do inscrito</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">data da inscrição</th>
                            <th scope="col">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for inscricao in inscricoes %}
                        <tr>
                            <td>{{ inscricao.participant_name }}</td>
                            <td>{{ inscricao.participant_email }}</td>
                            <td>{{ inscricao.registration_date|date:"d/m/y H:i" }}</td>
                            <td>
                                <a href="{% url 'event_edit_inscription' inscricao.id %}"
                                   class="btn btn-warning">Editar</a>
                                <a href="{% url 'event_delete_inscription' inscricao.id %}" class="btn btn-danger">Deletar</a>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <a href="{% url 'event_detail' event.id %}" class="btn btn-primary btn-lg mt-3">Inscrever-se</a>
                    <a class="btn btn-info btn-lg mt-3" href="{% url 'event_list' %}">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

